* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 125%;
    font-family: 'DM Sans', sans-serif;

    --font-size-1: 2.25rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: 0.75rem;

    --color-purple-1: #9fbeee;
    --color-blue-2: #c4d7ee;
    --color-pink-3: #9771ad;


    --color-blue-1: #253a94;

    --color-black-1: #181818;
}